body{
    background: rgba(139, 0, 0, 0.8);
}

.logo{
    padding-right: 750px;
    color: white;
}
.logo img{
    margin-top: -40px;
    margin-bottom: -20px;
    width: 150px;
}

.people{
    margin-top: 80px;
}

.demo{
    margin-top: 40px;
}

.primeirasecao{
    margin-top: 150px;
    height: 500px;
}

.primeirasecao h1{
    text-align: center;
    color: red;
}

.primeirasecao h5{
    text-align: center;
    color:red;
    margin-top: 50px;
}

.grafico{
    margin-left: 30px;
}

#subir{
	position:fixed;
	bottom:0px;
    right:0px;
    width: 100px;
    height: 100px;
}
#subir img{
    width: 100px;
}

section iframe{
    height: 650px;
}

@media only screen and (max-width: 700px) {
    .logo{
        margin-left: 750px;
        color: white;
    }
    .logo h4{
        margin-left: 40px;
        color: white;
    }
    .people{
        margin-top: 40px;
    }
    .header a{
        margin-left: 20px;
        margin-top: 20px;
    }
    section iframe{
        height: 500px;
    }
    body{
        margin:0px
    }

}